@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";
@import "../styles/utils.css";

@import "tw-animate-css";

@font-face {
  font-family: 'Favorit';
  src: url('/fonts/Favorit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-badge-hover: var(--badge-hover);
  --color-badge-hover-foreground: var(--badge-hover-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-inverted-muted: var(--inverted-muted);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-dm-mono), monospace;
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --font-weight-medium-semi: 550;

  --spacing-container: 100%;
  --spacing-container-lg: 1536px;

  --line-width: 1px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-appear: appear 0.6s forwards ease-out;
  --animate-appear-zoom: appear-zoom 0.6s forwards ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(1rem);
      filter: blur(0.5rem);
    }

    50% {
      filter: blur(0);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  @keyframes appear-zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(-150%) skewX(-12deg);
    }

    100% {
      transform: translateX(150%) skewX(-12deg);
    }
  }

  --animate-shine: shine 0.8s ease-in-out;
}

:root {
  --background: #e0ddd1;
  --foreground: #282e32;
  --card: #e9e7dd;
  --card-foreground: #282e32;
  --popover: #e9e7dd;
  --popover-foreground: #282e32;
  --primary: #aa532e;
  --primary-foreground: #ffffff;
  --secondary: #ababa3;
  --secondary-foreground: #282e32;
  --muted: #ababa3;
  --muted-foreground: #282e32;
  --badge: #B2B3AE;
  --badge-foreground: #282e32;
  --badge-hover: #0E100F;
  --badge-hover-foreground: #ffffff;
  --accent: #ababa3;
  --accent-foreground: #282e32;
  --destructive: #aa532e;
  --destructive-foreground: #ffffff;
  --border: #ababa3;
  --input: #ababa3;
  --ring: #aa532e;
  --chart-1: #aa532e;
  --chart-2: #282e32;
  --chart-3: #ababa3;
  --chart-4: #8b4326;
  --chart-5: #505c65;
  --sidebar: #e9e7dd;
  --sidebar-foreground: #282e32;
  --sidebar-primary: #aa532e;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ababa3;
  --sidebar-accent-foreground: #282e32;
  --sidebar-border: #ababa3;
  --sidebar-ring: #aa532e;
  --inverted-muted: #CDC9B9;
  --font-sans: 'Favorit', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: var(--font-dm-mono), monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #282E32;
  --shadow-2xs: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.05);
  --shadow-xs: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.05);
  --shadow-sm: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.10), 0px 1px 2px -1px hsl(204 11.1111% 17.6471% / 0.10);
  --shadow: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.10), 0px 1px 2px -1px hsl(204 11.1111% 17.6471% / 0.10);
  --shadow-md: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.10), 0px 2px 4px -1px hsl(204 11.1111% 17.6471% / 0.10);
  --shadow-lg: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.10), 0px 4px 6px -1px hsl(204 11.1111% 17.6471% / 0.10);
  --shadow-xl: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.10), 0px 8px 10px -1px hsl(204 11.1111% 17.6471% / 0.10);
  --shadow-2xl: 0px 2px 10px 0px hsl(204 11.1111% 17.6471% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: #101010;
  --foreground: #e0ddd1;
  --card: #323a3f;
  --card-foreground: #e0ddd1;
  --popover: #323a3f;
  --popover-foreground: #e0ddd1;
  --primary: #aa532e;
  --primary-foreground: #ffffff;
  --secondary: #ababa3;
  --secondary-foreground: #282e32;
  --muted: #323a3f;
  --muted-foreground: #ababa3;
  --badge: #3a4044;
  --badge-foreground: #e0ddd1;
  --badge-hover: #0E100F;
  --badge-hover-foreground: #ffffff;
  --accent: #ababa3;
  --accent-foreground: #282e32;
  --destructive: #aa532e;
  --destructive-foreground: #ffffff;
  --border: #ababa3;
  --input: #323a3f;
  --ring: #aa532e;
  --chart-1: #aa532e;
  --chart-2: #e0ddd1;
  --chart-3: #ababa3;
  --chart-4: #d17d5c;
  --chart-5: #4b565e;
  --sidebar: #1a1f22;
  --sidebar-foreground: #e0ddd1;
  --sidebar-primary: #aa532e;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ababa3;
  --sidebar-accent-foreground: #282e32;
  --sidebar-border: #323a3f;
  --sidebar-ring: #aa532e;
  --inverted-muted: #CDC9B9;
  --font-sans: 'Favorit', sans-serif;
  --font-serif: 'Georgia', serif;
  --font-mono: var(--font-dm-mono), monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.75);
}

body {
  letter-spacing: -0.03em;
  line-height: 1.1em;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.08;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    mix-blend-mode: overlay;
  }
}

@layer utilities {
  .font-favorit {
    font-family: 'Favorit', sans-serif;
  }

  .font-monorama {
    font-family: 'Monorama', monospace;
  }

  .text-landing-body {
    letter-spacing: -0.03em;
    line-height: 1.1em;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  display: block;
  background-size: 10px;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23aa532e'%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3E%3C/svg%3E");
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23aa532e'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
}